* {
   font-family: 'Lora', serif;
  }

.navbar-expand-lg {
  background-color: #2C3E50;
  color: white;
}

#logoFreeBook {
  width: 30px;
  color: white !important;
}


.nav-link {
  color: #EDEDED !important;
}

img#login-iconNav {
  width: 20px;
  margin-right: 3px;
}

.container-fluid {
  color: white;
}  

.btn {
  position: absolute;
  right: 0;
  outline: none;
}

form {
position: relative; 
width: 400px;
}

.categoria a{
  text-decoration: none;
  color: #2C3E50;
  transition: .5s;
}
li > a {
  text-decoration: none;
  color:#2C3E50;
  transition: .5s;
}

li > a:hover {
  color:#A7A7A7;
}

.categoria a:hover {
  color: #A7A7A7;
}

h2 {
  color:#2C3E50;
}



body {
  background-color: #F9F9F9;
}



.img-card {
  width: 130px;
  height: 180px;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  margin-top:10px; 
}

.card-container-img {
  min-width: 18.7rem;
  background-color: #F7F7F7;
  margin: 0 auto;
  display: flex;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}

.card-text {
  margin-top: 6px;
  font-size: 12px;
}

.btn-visitar-livro {
  width: 150px;
  text-align: center;
  background-color: #cecece;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 8px 4px 8px 4px;width: 150px;
  text-align: center;
  background-color: #2C3E50;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 8px 4px;
  transition: .5s;
}

.btn-visitar-livro:hover{
  background-color: #3F556B;
}

.btn-visitar-livro a{
  text-decoration: none;
  color: white;
}

.editora-card {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  background-color: #7F7F7F;
  color: white;
}

.ver-mais-livros {
  text-decoration: none;
  color: #2C3E50;
  font-size: 17px;
}