* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar-expand-lg {
  background-color: #EC5E63;
  color: white;
}

#logoFreeBook {
  width: 30px;
  color: white !important;
}


.nav-link {
  color: #EDEDED !important;
}

img#login-iconNav {
  width: 20px;
  margin-right: 3px;
}

.container-fluid {
  color: white;
}  

.btn {
  position: absolute;
  right: 0;
  outline: none;
}

form {
position: relative; 
width: 400px;
}

li > a {
  text-decoration: none;
  color:#71625D;
  transition: .5s;
}

li > a:hover {
  color:#8F82B6;
}


h2 {
  color:#EC5E63;
}



body {
  background-color: #FCF8F5;
}



.img-card {
  width: 130px;
  height: 180px;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  margin-top:10px; 
}

.card-container-img {
  min-width: 18.7rem;
  background-color: #F7F7F7;
  margin: 0 auto;
  display: flex;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}

.card-text {
  margin-top: 6px;
  font-size: 12px;
}

.btn-visitar-livro {
  width: 150px;
  text-align: center;
  background-color: #cecece;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 8px 4px 8px 4px;width: 150px;
  text-align: center;
  background-color: #2C3E50;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 8px 4px;
  transition: .5s;
}

.btn-visitar-livro:hover{
  background-color: #3F556B;
}

.btn-visitar-livro a{
  text-decoration: none;
  color: white;
}

.editora-card {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  background-color: #7F7F7F;
  color: white;
}

.ver-mais-livros {
  text-decoration: none;
  color: #2E2E2E;
  font-size: 17px;
  margin-top: 3.125rem;
  margin-right: 50px;
}


/* card */
.section-titulo {
  color:#7B5642;
  margin-bottom: 30px;
}

.container-card {
  position: relative;
  width: 240px;
  height: 335px;
}

.bg-card {
  background-color: #F4F4F4;
  width: 239px;
  height: 189px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  position: relative;
}

.img-card {
  width: 120px;
  height: 180px;
  border-radius: 4px;
  position: absolute;
  top: -30px;
  left: 56px;
}

.img-card img {
  border-radius: 4px;
  filter: drop-shadow(-5px 6px 9px rgba(0, 0, 0, 0.16));
}

.info-card {
  display: flex;
  flex-direction: column;
}

.span-titulo {
  color: #EC5E63;
  font-size: 24px;
  line-height: 36px; 
  margin-top:20px
}

.span-autor {
  color: #938783;
  font-size: 15px;
  line-height: 17px
}

.btn-baixar{
  color: white;
  text-decoration: none;
  background-color: #EC5E63;
  margin-top: 20px;
  padding: 10px 0px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  transition: .5s;
}

.btn-baixar:hover {
  background-color: #8F82B6;
}


/* form */
.contato-titulo {
  display: flex;
  gap: 2px;
  font-size: 32px;
  color: #7B5642;
}

.contato-subtitulo {
  font-size: 18px;
  color: #EC5E63;
}

.form-control {
  background-color: #F4F4F4;
  border: 1px solid #EC5E63;
  padding: 10px;
  resize: none;
  font-size: 18px;
}

.form-control::placeholder {
 color: #EC5E63;
}

textarea {
  height: 10rem;
}

.form-contato {
  margin-right: 7rem;
  position: relative;
}

.contato-aviao1{
  position: absolute;
  left: 24rem;
  transform: translate(-50%, -50%) rotate(45deg);
}

.contato-aviao2{
  position: absolute;
  right: 33rem;
  bottom: -5rem;
}

.contato-aviao3{
  position: absolute;
  bottom: -4rem;
  right: 0rem;
}

.contato-aviao4 {
  position: absolute;
  right: 0rem;
  top: -1rem;
}

.input-form {
  display: flex;
  gap: 3px;
  color: #EC5E63;
  font-size: 24px;
}

.btn-enviaForm {
  background-color: #EC5E63;
  width: 100%;
  padding: 14px 0px;
  border: 1px solid transparent; /* Definir uma borda transparente */
  border-radius: 6px;
  margin-top: 10px;
  color: white;
  font-size: 22px;
  transition: .5s;
  box-sizing: border-box;
}

.btn-enviaForm:hover {
  background-color: #8F82B6;
  border: 1px solid #EC5E63;
}

.row-form {
  margin-bottom: 10rem;
}

footer {
  background-color: #EC5E63;
  width: 100%;
}

.footer-icons {
  width: 30px;
  color: white;
  transition: .5s;
}

.name-icons-footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: inherit;
}

.footer-icons:hover {
  scale: 1.2;
}

.rede-social-sobre {
  font-weight: 700;
  font-size: 22px;
}

.liner-separa {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
}
.liner-separa::after,
.liner-separa::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ced4da;
}
.liner-separa::before {
  margin-right: 1em;
}
.liner-separa::after {
  margin-left: 1em;
}

.liner-separa img {
  width: 120px;
  border-radius: 50%;
  border: 2px solid white;
  transition: .5s;
}

.liner-separa img:hover{
  scale: 1.2;
}

.sobre-footer{
  font-size: 13px;
  font-weight: 300;
}

.link-footer li{
  list-style: none;
  text-decoration: none;
  color: #71625D;
  transition: .5s;
}

.link-footer img {
  width: 20px;
}
.link-footer a,
.link-footer img {
  color: white;
}

.link-footer li > a:hover{
  transform: scale(1.5);
}


.titulo-link-footer {
  margin-left: 30px;
  font-size: 22px;
}

.bgCard {
  background-color: #F4F4F4;
  width: 690px;
  height: 540px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  position: relative;
}

.imgCard {
  width: 350px;
    height: 510px;
    border-radius: 4px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgCard img {
  border-radius: 4px;
  filter: drop-shadow(-5px 6px 9px rgba(0, 0, 0, 0.16));
}

.btnBaixar {
  color: white;
  text-decoration: none;
  background-color: #EC5E63;
  padding: 15px 0px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  transition: .5s;
  align-items: center;
  width: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.containerCard {
  position: relative;
  height: 610px;
}

.info-book {
  color: #7B5642;
}

.starsvg {
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
}

/* Comentarios */

.section-comentarios {
  color: #7B5542;
}

.container-comentario {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.25);
  width: 50rem;
  margin-left: 1rem;
}

.container-user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.comentario-user {
  word-break: break-all;
  color:#7B5542;
  font-size: 14px;
}